@layer base {
  .reveal.columbia {
    @apply bg-columbiaBlue text-primary font-proxima text-4xl;

    ::selection {
      @apply bg-primary text-white;
    }

    ::moz-selection {
      @apply bg-primary text-white;
    }

    .slides section,
    .slides section > section {
      @apply leading-snug;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mb-5 font-garamond last:mb-0;
    }

    h1 {
      @apply font-trajan text-7xl;
    }

    h2 {
      @apply text-6xl;
    }

    h3 {
      @apply text-5xl;
    }

    p {
      @apply my-5;
    }

    strong,
    b {
      @apply font-bold;
    }

    em {
      @apply italic;
    }

    ol,
    dl,
    ul {
      @apply inline-block text-left mb-4;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    ul ul {
      list-style-type: square;
    }

    ul ul ul {
      list-style-type: circle;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
      @apply block ml-10;
    }

    dt {
      @apply font-bold;
    }

    dd {
      @apply ml-10;
    }

    blockquote {
      @apply block relative w-[70%] my-5 mx-auto p-1.5 px-5 italic bg-lightGray shadow-lg border-l-4 border-primary text-left;

      p:first-child,
      p:last-child {
        @apply inline-block;
      }
    }

    q {
      @apply italic;
    }

    pre {
      @apply block relative w-[90%] my-5 mx-auto text-left text-2xl font-mono leading-tight shadow-lg;
      word-wrap: break-word;

      code {
        @apply block p-1.5 overflow-auto max-h-[400px];
        word-wrap: normal;
      }
    }

    code {
      @apply font-mono normal-case bg-gray/25 px-1;
      tab-size: 2;
    }

    .code-wrapper {
      @apply whitespace-normal;

      code {
        @apply whitespace-pre;
      }
    }

    table {
      @apply m-auto border-collapse border-spacing-0;

      th {
        @apply font-bold;
      }

      th,
      td {
        @apply text-left py-0.5 px-1 border-b;
      }

      th[align='center'],
      th[align='center'] {
        @apply text-center;
      }

      th[align='right'],
      th[align='right'] {
        @apply text-right;
      }

      tbody tr:last-child th,
      tbody tr:last-child td {
        @apply border-0;
      }
    }

    sup {
      @apply align-super;
      font-size: smaller;
    }

    sub {
      @apply align-sub;
      font-size: smaller;
    }

    small {
      @apply inline-block text-2xl leading-tight align-top;
    }

    small * {
      @apply align-top;
    }

    img {
      @apply my-5;
    }

    a {
      @apply transition-colors hover:text-gray;
    }

    .roll span:after {
      @apply text-white;
    }

    .r-frame {
      @apply border-4 border-primary shadow-md;
    }

    a .r-frame {
      @apply transition-all;
    }

    a:hover .r-frame {
      @apply border border-gray shadow-lg;
    }

    .controls {
      @apply text-gray;
    }

    .progress {
      @apply opacity-20 text-gray;
    }
  }
}
