{{page-title "Home"}}

<div class="p-10">
  <h1 class="pb-4 font-didot text-5xl">Talks by Moacir P. de Sá Pereira</h1>

  <section class="w-1/2">
  <p class="pb-4 font-serif">I’ve given many talks, presentations, and workshops over the past few years, and they are typically accompanied by a slideshow of some sort or another. I’ve collected those slideshows here. Or, at least, I will.</p>

  <p class="pb-4 font-serif">If you’ve come to this site looking for a talk and can’t find it, Try <a class="underline hover:text-gray-300" href="https://old-talks.moacir.com/">the old talks site</a>.</p>
  </section>

  <section class="w-1/2">
    <h2 class="text-2xl pb-4 font-didot">Talks on this site:</h2>

    <ul class="list-disc px-4 font-serif">
    {{#each @model as |talk|}}
      <li><LinkTo @route="talk" @model={{talk.id}} class="underline hover:text-gray-300">{{talk.title}}</LinkTo></li>
    {{/each}}
    </ul>
  </section>
</div>
