{{page-title "Home"}}

<h1>Talks by Moacir P. de Sá Pereira</h1>

<p>I’ve given many talks, presentations, and workshops over the past few years, and they are typically accompanied by a slideshow of some sort or another. I’ve collected those slideshows here. Or, at least, I will.</p>

<p>If you’ve come to this site looking for a talk and can’t find it, Try <a href="https://old-talks.moacir.com/">the old talks site</a>.</p>

<h2>Talks on this site:</h2>

<ul>
{{#each @model as |talk|}}
  <li><LinkTo @route="talk" @model={{talk.id}}>{{talk.title}}</LinkTo></li>
{{/each}}
</ul>

